<div class="field" >
  <app-box *ngFor="let box of boxes; let i = index"
         [box]="box.box"
  (createBox)="onClickBtn(i)">
  </app-box>
</div>

<app-btns [tries]="tries" (reset)="onReset()"></app-btns>
<h3 >{{ message }}</h3>
